.App {
  text-align: center;
  display: flex;
}
.landing-container {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 250, 191);
  background: linear-gradient(
    90deg,
    rgba(0, 250, 191, 1) 0%,
    rgba(110, 198, 245, 1) 38%,
    rgba(243, 255, 0, 1) 100%
  );
  display: flex;
  justify-content: center;
}

.landing-box {
  height: 50vh;
  width: 40vw;
  background: rgb(110, 198, 245);
  background: linear-gradient(
    90deg,
    rgba(110, 198, 245, 1) 8%,
    rgba(234, 250, 0, 1) 100%
  );
  border-radius: 15px;
  position: relative;
  margin: auto;
  box-shadow: 3px 3px 3px rgb(204, 204, 204);
}
.emoji {
  width: 200px;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: sans-serif;
  margin-top: 10px;
  font-weight: bold;
}

#input-box {
  margin-top: -25px;
  display: flex;
  flex-direction: column;
}
.login-input {
  display: flex;
  width: 300px;
  margin: auto;
  justify-content: space-evenly;
}

.nameAndPassword {
  color: white;
  font-size: 20px;
  margin-right: 10x;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.input {
  height: 30px;
  margin-top: 15px;
}

.LoginAndReButton {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  margin: 10px;
  font-weight: bold;
}

.nav-bar {
  height: 100vh;
  width: 130px;
  position: relative;
  margin-left: 0px;
  background: linear-gradient(
    180deg,
    rgba(110, 198, 245, 1) 8%,
    rgba(234, 250, 0, 1) 100%
  );
}

#profilePic {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  margin-top: 30px;
}

.link {
  margin-top: 180px;
  font-size: 20px;
  font-weight: bold;
}

.logout {
  margin-top: 200px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
}

.add-form-container {
  width: 800px;
  height: 600px;
  background-color: rgb(168, 211, 238);
  margin: auto;
  border-radius: 20px;
}

#newPost {
  font-size: 40px;
  color: yellow;
  font-weight: bold;
  position: relative;
  margin-top: 10px;
}

.uploadPic {
  width: 300px;
  height: 200px;
}
.formInput {
  width: 350px;
  height: 20px;
}
#postButton {
  position: relative;
  margin-top: 15px;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
}

.postBox {
  display: flex;
  justify-content: space-evenly;
  background-color: lightcyan;
  margin-top: 20px;
  width: 70vw;
  height: 120px;
  margin-left: 100px;
}

.postProfilePic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.titleLetter {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
}

.searchBox {
  margin-left: 100px;
  margin-top: 50px;
  width: 70vw;
  height: 80px;
  background-color: lightgray;
}
